# Exported variables
export("protcomp", "check_ID", "get_pdat", "get_comptab", "CLES", "xsummary",
"rankdiff", "rankplot", "Ehplot", "pdat_CRC", "remove_entries", "diffplot",
"lapply_canprot", "get_colors", "pdat_pancreatic", "pdat_hypoxia", "pdat_osmotic",
"groupplots", "mergedplot")

# Imports from default packages
importFrom("stats", "na.omit", "median", "loess", "predict", "quantile")

importFrom("utils", "read.csv", "relist", "capture.output", "write.table", "data", "combn", "read.table")

importFrom("graphics", "mtext", "plot", "title", "box", "contour", "image",
"lines", "text", "abline", "points", "rect",  "grconvertX", "grconvertY", "par", "plot.new")

importFrom("grDevices", "contourLines")

# Imports from CHNOSZ
importFrom("CHNOSZ", "basis", "protein.basis", "protein.formula",
           "protein.length", "ZC", "add.protein", "affinity", "diagram",
           "list2array", "palply", "subcrt", "convert", "label.figure",
           "aminoacids", "info")

# Imports from xtable
importFrom("xtable", "xtable", "print.xtable")
