# Exported variables
export("protcomp", "check_IDs", "get_comptab", "CLES", "xsummary",
"rankdiff", "rankplot", "Ehplot", "pdat_colorectal", "diffplot",
"lapply_canprot", "get_colors", "pdat_pancreatic", "pdat_hypoxia", "pdat_osmotic",
"groupplots", "mergedplot", "canprot", "cleanup",
# metrics added 20191005 - 20191027
"ZCAA", "H2OAA", "GRAVY", "pI",
# 20191104, 20191127, 20191205
"pdat_osmotic2", "PS", "O2AA",
# 20191226-20191230
"pdat_multi", "pdat_secreted", "pdat_breast", "pdat_lung", "pdat_prostate", "pdat_3D",
# 20200101
"pdat_recomp", "xsummary2",
# 20200204 used in JMDplots package
"cplab",
# 20200402, 20200411
"pdat_liver", "pdat_glucose"
)

# Imports from default packages
importFrom("stats", "na.omit", "median", "loess", "predict", "quantile", "approx")

importFrom("utils", "read.csv", "relist", "capture.output", "write.table", "data", "combn", "read.table")

importFrom("graphics", "mtext", "plot", "title", "box", "contour", "image",
"lines", "text", "abline", "points", "rect",  "grconvertX", "grconvertY", "par", "plot.new")

importFrom("grDevices", "contourLines")

# Imports from CHNOSZ
importFrom("CHNOSZ", "basis", "protein.basis", "protein.formula",
           "protein.length", "ZC", "add.protein", "affinity", "diagram",
           "list2array", "palply", "subcrt", "convert", "label.figure",
           "aminoacids", "info")

# Imports from xtable
importFrom("xtable", "xtable", "print.xtable")

# Imports from MASS
importFrom("MASS", "kde2d")
