# Exported variables
export("protcomp", "CLES",
"human",
# metrics added 20191005 - 20191027
"Zc", "nH2O", "GRAVY", "pI",
# 20200204 used in JMDplots package
"cplab",
# 20200501, 20200505
"MW",
# 20200817
"basis.text",
# 20201016
"nO2",
# 20240225
"plength",
# 20240228 moved from CHNOSZ
"read.fasta", "count.aa", "aasum"
)

## Imports from default packages
importFrom("stats", "pnorm", "sd")
importFrom("utils", "read.csv")

# Load shared objects
# Refer to all C/Fortran routines by their name prefixed by C_
useDynLib(canprot, .registration = TRUE, .fixes = "C_")
